.links {
  display: flex;
  justify-content: space-evenly;
}


.projectContainer {
  background-color: #f2f2f2;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #007BFF;
  margin: 25px;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.text {
  text-align: center;
}

.gif {
  width: 400px;
  height:auto;
}

ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
}

.tech {
  padding: 10px;
  border: 1px solid;
  background-color: white;
  border-radius: 999px;
}

/* .text-project {
  margin-top: 5rem;
} */

.project-button {
background-color: palegreen;
padding: 10px 20px;
font-weight: bold;
border-radius: 999px;

}

.project-button:hover {
  transform: scale(1.1);
}

.projects {
  padding-top: 100px;
  margin-top: -70px;
  min-height: 100vh;
}
