.skill-title {
padding-top: 3rem;
}

.skillContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.text {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
}

.skill-icons {
  margin: 50px;
  transition: transform 0.2s; /* Animation */
  width: 120px;
  height: 120px;
  display: flex;
}

.skill-icons:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

ul {
  list-style-type: none;
}

.skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 2;
  padding: 0;
}


@media only screen and (max-width: 771px) {
  .skillContainer {
    flex-direction: column;
  }
}

/* Add media query for narrow screens */
@media only screen and (max-width: 360px) {
  .skill-icons {
    margin: 25px; /* Reduce margin */
    width: 80px; /* Smaller icons */
  }

  .skillContainer {
    margin: 10px 5px; /* Reduce margins */
  }
}

/* Reduce icon size to have multiple in a row on mobile  */
@media only screen and (max-width: 415px) {
  .skill-icons {
    margin: 25px; 
    width: 80px; 
    height: 80px;
  }

  .skillContainer {
    margin: 10px 5px;
}

.Skills {
  padding-top: 70px;
  margin-top: 0;
  min-height: 100vh;
}

}
