/* .about-info {
    border: 2px solid #F14E32;

} */
.charles {
  border: 5px solid #4b4646;
  border-radius: 10%;
  height: 18em;
}

.summary {
  padding: 1rem;
}

@media only screen and (max-width: 880px) {
  .text-content {
    font-size: large;
    padding: 40px;
  }
}

.about-info {
  padding-top: 40px;
  margin-top: -70px;
  min-height: 100vh; /* This ensures the section takes up full viewport height */
}

