.about-info {
    /* border: 2px solid #F14E32; */
    height: 100vh;

}

.content-inside {
    text-align: center;
    margin-left: 34px;
}

.Charles {
    border: 5px solid #4b4646;
    border-radius: 10%;
    height:18em;
}

.text-content {
    font-size:x-large;

}



  @media only screen and (max-width: 880px) {
    .text-content {font-size: large;}

  }
