.input-info {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.header-info {
  text-align: center;
}
.contactContainer {
margin-top: 25px;
}

.infield {
  border: 2px solid #4b4646;
  margin-bottom: 0.7rem;
  padding-left: 0.7rem;
  height: 2.5rem;
  font-size: 100%;
}

textarea {
  border: 2px solid #4b4646;
  margin-bottom: 0.7rem;
  font-size: 100%;
}

.submit {
  background: palegreen;
  font-weight: bold;
  padding: 20px;
  border-radius: 999px;
}

.submit:hover {
  transform: scale(1.1);
}

/* .contactContainer {
  justify-content: center;
  align-items:center
} */

.bottom {
  font-weight: bold;
  
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.note {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.messageholder {
  padding: 0.7rem;
}

.box {
  padding-top: 40px;
  min-height: 100vh;
}
/* 
.skill-title {
  margin-top: 20px;
} */

/* Add media query for narrow screens */
@media only screen and (max-width: 360px) {
  .input-info {
    padding: 10px;
  }

  .infield, 
  textarea {
    width: 100%;
    max-width: 300px;
  }

  .submit {
    padding: 15px;
    width: 100%;
    max-width: 280px;
  }

  .socials {
    gap: 10px;
  }
}
