* {
    margin: 0px;
    padding: 0px;
}
.menu {
    font-weight: bold;
    color: white;
    margin: 50px

}

/* .menu2 {
    visibility: hidden;

} */

.top-logo {
    width: 150px;
}

.list {
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    align-items:center;
    display: flex;
    height: 150px;

}

nav {
    background-color: #384460  ;

}

.burger {
    /* visibility: hidden; */
    z-index: 1;
    justify-content: end;

}

@media only screen and (max-width: 1080px) {
    .menu {background: blue; margin: 0px; display: flex;justify-content: center; margin: auto;}
    .burger {visibility: visible; }
    .list {visibility: hidden;}
    .hide-menu {visibility: hidden;}
    /* .show-menu {visibility: visible; height: 90vh; background-color: blue; justify-content: center;} */
    /* .burger {font-size: 7vh; object-fit: contain; margin: 10px; margin-right: 1000px} */

  }

  a:hover {
    background-color: palegreen;
    border-radius: 10px;
  }
  /* .barIcon {
    margin-right: 100px;
  } */
