
.menu {
    background-color: #fefbd8;
    font-weight: bold;
    margin: 100px;

}

.logo {
    background: pink;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
}

.list {
    display: flex;
    list-style-type: none;
}

nav {
    background-color: #384460  ;
    display: flex;
    justify-content: space-between
}

.top-logo {
width: 200px;
height: 200px;
}